<a href="https://colab.research.google.com/github/rtosta/python_analise_dados/blob/main/notebooks/An%C3%A1lise_dados_8_inserir_excluir_atualizar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd

In [17]:
#seleção (filtragem de linhas específicas de um dataframe)
dataframe_01=pd.DataFrame({
    "região":["america do sul", "america do sul", "america do sul", "america do sul","africa","asia"],
    "estados":["brasil","argentina","uruguai","paraguai","angola","timor leste"],
    "idh":[0.754,0.842,0.809,0.724,0.574, 0.607]
                           })
dataframe_01

           região      estados    idh
0  america do sul       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607

In [18]:
novo = pd.DataFrame({
    "região":"africa",
    "estados":"moçambique",
    "idh": 0.446
},index=[0])
novo

   região     estados    idh
0  africa  moçambique  0.446

In [19]:
inserção = pd.concat([dataframe_01, novo],ignore_index=True,sort=False)
inserção

           região      estados    idh
0  america do sul       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607
6          africa   moçambique  0.446

In [20]:
exclusão = inserção.drop([1,5])
exclusão

           região     estados    idh
0  america do sul      brasil  0.754
2  america do sul     uruguai  0.809
3  america do sul    paraguai  0.724
4          africa      angola  0.574
6          africa  moçambique  0.446

In [21]:
exclusão = exclusão.reset_index(drop=True)
exclusão

           região     estados    idh
0  america do sul      brasil  0.754
1  america do sul     uruguai  0.809
2  america do sul    paraguai  0.724
3          africa      angola  0.574
4          africa  moçambique  0.446

In [22]:
inserção.at[0,"região"]="AFRICA"

In [23]:
inserção

           região      estados    idh
0          AFRICA       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            asia  timor leste  0.607
6          africa   moçambique  0.446

In [24]:
inserção.loc[inserção["estados"]=="timor leste","região"]="ASIA"
inserção

           região      estados    idh
0          AFRICA       brasil  0.754
1  america do sul    argentina  0.842
2  america do sul      uruguai  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            ASIA  timor leste  0.607
6          africa   moçambique  0.446

In [26]:
#replace()
inserção["estados"] = inserção["estados"].replace(["argentina","uruguai"],["ARGENTINA","URUGUAI"])
inserção

           região      estados    idh
0          AFRICA       brasil  0.754
1  america do sul    ARGENTINA  0.842
2  america do sul      URUGUAI  0.809
3  america do sul     paraguai  0.724
4          africa       angola  0.574
5            ASIA  timor leste  0.607
6          africa   moçambique  0.446

In [34]:
#apply(str.upper,lower,capitalize)
inserção["região"] = inserção["região"].apply(str.capitalize)
inserção

           região      estados    idh
0          Africa       brasil  0.754
1  America do sul    ARGENTINA  0.842
2  America do sul      URUGUAI  0.809
3  America do sul     paraguai  0.724
4          Africa       angola  0.574
5            Asia  timor leste  0.607
6          Africa   moçambique  0.446

In [40]:
def aumentar(idh):
  return idh*55
aumentar(2)

110

In [41]:
inserção["idh"] = inserção["idh"].apply(aumentar)
inserção

           região      estados      idh
0          Africa       brasil  207.350
1  America do sul    ARGENTINA  231.550
2  America do sul      URUGUAI  222.475
3  America do sul     paraguai  199.100
4          Africa       angola  157.850
5            Asia  timor leste  166.925
6          Africa   moçambique  122.650